body{
	margin: 0px 0px;
	font-family: "Times New Roman", Georgia, Serif;
}

.system-error{
	border-color: red;
}

.modal-header{
	background-color: #444;
}

.modal-header:hover{
	background-color: #af0303;
	opacity: .9;
}

.btn-mku{
	background-color: #af0303;
	border-color:grey;
	opacity: .9;
}

.btn-mku:hover{
	opacity: .7;
	background-color: #af0303;
	border-color:grey;
}

.btn-primary{
	background-color: #af0303 !important;
}

.btn-view{
	color: #fff;
	background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-top-links li a:hover{
	background-color: grey;
	opacity: .7;
}

.input-dimension{
	width:50%;
	margin:4px 4px;
	clear:both;
	display:inline-block;
}

.sub-table{
	width:100% !important;
}

.modal-expand{
	width:80% !important;
	height:800px !important;
}

.minimize-tbl{
	width:100%;
	display: inline-block;
}

.admin-control{
	/*display:none;*/
}

.side-menu{
	height:50px;
	padding-left: 0px;
	overflow: hidden;
}

@media(min-width:768px){
	.side-menu li{
		width:15%;
	}
}

.remove{
	background-color:#bc3c3c;
	width:25px;
	height:25px;
}


.edit{
	background-color: #54a354;
	width:25px;
	height:25px;
}

.view{
	background-color: #337ab7;
	width:25px;
	height:25px;
}

.side-menu li{
	width:130px;
	float:left;
	list-style: none;
	padding: 16px 6px;
	height:30px;
	text-align: center;
}

.side-menu li a{
	text-decoration: none;
	height:40px;
}

.side-menu li:hover{
	background-color: grey;
}

.nav-right li:hover{
	background-color: grey;
}

.nav-right li{
	padding:3px 3px;
}

#page-wrapper{
	margin: 0px 0px;
}

.mku-nav{
	background-color: #222;
}

.mku-nav li a{
	color: #fff;
}

.btn-default{
	color: #333;
}

.table-bordered th, .table-bordered td {
    border: .5px solid #a4a4a4;
}

.dataTables_length{
	margin-bottom:8px;
}

table td{
	padding: 1%;
}

table.dataTable tbody th, table.dataTable tbody td{
	padding: 4px 9px 1px;
}

table.dataTable thead th, table.dataTable thead td{
	padding: 5px 8px 5px;
	background: #999 !important;
	color: #fff;
}

table.dataTable tr:hover{
	background: #e2d9d3 !important;
	font-weight:bold;
}

.task-table-inputs{
	width:50%;
	margin-left:10px !important;
}

.task-table-inputs td{
	width:50px !important;
}

.task-table-inputs input{
	margin-left:0px !important;
	width:90px;
}

/*---- navigation ---- */
.static-top{
	z-index: 1000;
	border-width: 0 0 1px;
	height: 50px;
}

.nav-right{
	display:inline-block;
	list-style:none;
	float:right;
	padding: 8px;
	margin-top: 1px;
	margin-right:10px;
}

.nav-right li{
	float: left;
	padding: 5px;
}

.nav-right a{
	width:100%;
	text-decoration: none;
}

.board{
	border: 1px solid #777;
	border-radius: 5px;
	margin: auto auto;
	margin-top:15px;
	padding: 15px;
}

.board-body{
	width:70%;
	margin: auto auto;
}

.input{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  display: block;
  width: 50%;
  margin-bottom:5px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  margin: auto auto;
  float:left;
}

.close{
	float: right;
	background-color: transparent;
	border:none;
	cursor: pointer;
}

.button{
	font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  height:40px;
  vertical-align: middle;
}

button{
	cursor: pointer;
	border: 1px solid #888;
	border-radius: 5px;
	color: #fff;
	height: 30px;
}

.form{
	width:100%;
	height: 100%;
  }	

.container{
	margin-top: 50px;
}

#page-wrapper{
	margin-top: 60px;
	padding:10px;
}

/* MODAL */

.modal-plane{
    overflow-x: hidden;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}


.modal-inner{
	width: 600px;
    margin: 30px auto;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
	background: #af0303 !important;
  min-height: 16.42857143px;
  height:20px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}


.modal-body {
  position: relative;
  padding: 15px;
  color:#333;
}

.modal-title{
	margin: 0px;
	color: #000;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/** dataTable **/
.dataTable tr:nth-child(even){
	background: #CCC;
}

table.dataTable tbody td{
	padding: 1px 16px !important;
}

table{
	/**border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;*/
	text-align: left;
}

.dataTable td{
	
}

.dataTable{
	margin-top:3px !important;
}

.dataTable_wrapper{
	width:93% !important;
}

#submodules{
	z-index:9999 !important;
	position:absolute;
	background-color: #333 !important;
	width: 12%;
	padding-left: 0px !important;
	margin-top:15px;
	margin-left: -6px;
	display: none;
}

#module-nav:hover #submodules{
	display:block !important;
}

#submodules li{
	width:92.5%;
}

#submodules a{
	width:90% !important;
}