﻿
/*column header style*/
.columnHeader {
    font-weight:normal;
    text-decoration:none;
    cursor:pointer;
    color:#333333;
    white-space: nowrap;
}

/*Table List*/
.tableList {
    border-spacing: 0;
    border-collapse: collapse;
    /*border-top: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;*/
}

/*Header*/
.tableList thead tr:first-child
{
    /*border: 1px solid #fc7c09;
    background: #fc7c09 url("images/csilist/ui-bg_gloss-wave_35_fc7c09_500x100.png") 50% 50% repeat-x;*/
    background-color: #676e7a;
    font-weight: bold;
    border-bottom: solid 2px #535965;
    border-top: solid 1px #787f8c;
}

.tableList thead tr:first-child td
{
    padding: 4px 7px 3px 7px;
    vertical-align: top;
}

.tableList thead tr:first-child a span, 
.tableList thead tr:first-child a, 
.tableList thead tr:first-child div,
.tableList thead tr:first-child div span
{
    color: #ffffff;
    text-decoration: none;
}

.tableList thead tr:last-child
{
    background: url(images/csilist/fhbg.gif) repeat-x top;
    border-top: 1px solid #dddddd;
   
}

.tableList thead tr:last-child td
{
    padding: 5px 7px 5px 7px;
    vertical-align: top;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #dddddd;
}

.tableList thead tr:last-child td:first-child
{
    padding: 5px 7px 5px 7px;
    vertical-align: top;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
}

.tableList thead tr.orange
{
    border: 1px solid #fc7c09;
    background: #fc7c09 url("images/csilist/ui-bg_gloss-wave_35_fc7c09_500x100.png") 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
    color: #ffffff;
}

.tableList tfoot tr td
{
    border-top: 1px solid #dddddd;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.tableList tfoot tr td
{
    padding: 5px 7px 5px 7px;
}

.tableList tfoot tr td a
{
    text-decoration:none;
}

/*Row style*/
.tableRow{
}

.tableRow td{
    padding:4px 7px;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #dddddd;
    color: #313131;
}

.tableRow td:first-child{
    padding:4px 7px;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
}

.tableRow:nth-child(2n+2) {
    background-color: #f7f7f7;
    color: #313131;
}

/*style when user selected item.*/
.tableRowSelected {
    background-color:lightgrey !important;
}

/*style when row is clicked*/
.tableRowMouseClick {
}

/*style when row is hovered*/
.tableRowHover {
    /*background-color:#d9ebf5 !important;*/
    background-color: #dcffdb !important;
}

.toAdd {
}

.itemRows {
}

.toAddItems {
}

/*keyword textbox*/
.keyword {
    width:150px;
}

.filterBy {
}

.toDate {
}

.fromDate {
}

.loading {

}

.coverageRows {
}

/*BUTTONS*/
.searchButton{
    width: 25px;
	height: 30px;
	background-image: url(../content/icons/magnifier.png) !important;
	background-repeat: no-repeat !important;
	text-align: right  ;
	background-position: left center;
	border:  solid 0px Transparent;
	background-color: Transparent;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}

.addButton {
   
    width: 52px;
	height: 30px;
	background-repeat: no-repeat !important;
	text-align: center;
	background-position: left center;
	border:  solid 1px #CCC;
	background-color: #C8551E;
	border-radius:3px;
    color: white;
	cursor: pointer;
	padding:3px;
}

.addButtonOverride {
   
    width: 52px;
	height: 30px;
	background-image: url(../content/icons/add.png) !important;
	background-repeat: no-repeat !important;
	text-align: center;
	background-position: left center;
	border:  solid 1px #263919;
	background-color: #263919;
	border-radius:3px;
    color: white;
	cursor: pointer;
}

.editButton {
    
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/pencil.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.deleteButton {
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/delete.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.journalButton {
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/journal.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.documentButton {
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/documents.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.policyButton {
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/booking.png);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.printButton {
    width: 20px;
	height: 20px;
	background-image:url(../content/icons/print.gif);
	background-repeat: no-repeat;
	background-position: center center;
	border: none 0px Transparent;
	background-color: Transparent;
	cursor: pointer;
}

.selectPolicyButton {
    width: 25px;
	height: 30px;
	background-image: url(../content/icons/booking.png) !important;
	background-repeat: no-repeat !important;
	text-align: right  ;
	background-position: left center;
	border:  solid 0px Transparent;
	background-color: Transparent;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    margin-left:10px;
    width:108px;
}

/** PAGING **/
.pageSize {
}

.sortBy {
}

.nextPage{
}

.previousPage{
}

.firstPage{
}

.lastPage{
}

.tableList input[type="text"], .tableList select
{
    padding: 4px 4px;
}

.tableList input[type="button"]
{
    padding: 4px 8px;
}

.tableRow input[type="button"]
{
    padding: 2px 4px;
}