﻿#progressbox {
border: 1px solid #0099CC;
padding: 1px; 
position:relative;
width:200px;
border-radius: 10px;
margin: 13px 13px 13px 0;
display:none;
text-align:left;
}

#progressbar {
height:20px;
border-radius: 3px;
background-color: #003333;
width:1%;
}

#statustxt {
top:4px;
text-align:center;
width:200px;
position:absolute;
display:inline-block;
color: #000000;
}


#itemprogressbox {
border: 1px solid #0099CC;
padding: 1px; 
position:relative;
width:200px;
border-radius: 10px;
margin: 13px 13px 13px 0;
display:none;
text-align:left;
}

#itemprogressbar {
height:20px;
border-radius: 3px;
background-color: #003333;
width:1%;
}

#itemstatustxt {
top:4px;
text-align:center;
width:200px;
position:absolute;
display:inline-block;
color: #000000;
}

#clientprogressbox {
border: 1px solid #0099CC;
padding: 1px; 
position:relative;
width:200px;
border-radius: 10px;
margin: 13px 13px 13px 0;
display:none;
text-align:left;
}

#clientprogressbar {
height:20px;
border-radius: 3px;
background-color: #003333;
width:1%;
}

#clientstatustxt {
top:4px;
text-align:center;
width:200px;
position:absolute;
display:inline-block;
color: #000000;
}


#DTSprogressbox {
border: 1px solid #0099CC;
padding: 1px; 
position:relative;
width:200px;
border-radius: 10px;
margin: 13px 13px 13px 0;
display:none;
text-align:left;
}

#DTSprogressbar {
height:20px;
border-radius: 3px;
background-color: #003333;
width:1%;
}

#DTSstatustxt {
top:4px;
text-align:center;
width:200px;
position:absolute;
display:inline-block;
color: #000000;
}