﻿html {
    margin: 0;
    padding: 0;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:hover {
    /*background-color: #c7d1d6;*/
    color: #039ede;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.highlight {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    /*background-color: #efeeef;*/
    clear: both;
    
}

.main-content {
    /*background: url("../Images/accent.png") no-repeat;*/
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 35px;
    border-top: solid 4px #999;
}
    
.header-content {
    background-color: #FFFFFF;
    padding: 0px 10px 0px 10px;
    height: 110px;
}

.featured + .main-content {
    /*background: url("../Images/heroAccent.png") no-repeat;*/
}

footer {
    clear: both;
    font-size: .8em;
    height: 50px;
    color: white;
}

#login-info 
{
    float: right;
    font-size: .85em;
    margin: 5px 0 4px 0;
    text-align: right;
    clear: both;
}



/* login
----------------------------------------------------------*/
#login 
{
    font-size: .85em;
    margin: 5px 0 0 0;
    text-align: right;
}

#login a {
    /*background-color: #d3dce0;*/
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

#login a.username {
    background: none;
    margin-left: 0px;
    text-decoration: underline;
}

#login ul {
    margin: 0;
}

#login li {
    display: inline;
    list-style: none;
}


/* menu
----------------------------------------------------------*/
nav {
    float: right;
    margin: 0px 0px 0px 0px !important;
    padding: 0 !important;
    clear: both; 
    vertical-align: top;
}

nav .slider-menu
{
    position: absolute;
    z-index:1000;
    margin-left: -859px;
    margin-top:-25px;
}
    
nav ul 
{
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px !important;
    text-align: left;
    background-image: url("../base/images/bg-menu.png");
    background-repeat: repeat-x;
    height: 28px;
    border: none 0px transparent !important;
}

nav ul li 
{
    float: left;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px !important;
    font-size: 13px !important;
    vertical-align: middle;
    height: 28px !important;
}

nav ul li a 
{
    text-decoration: none !important;  
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}
        
/*1st sub level menu*/
nav ul li ul{
display: block;
visibility: hidden;
background-image: none !important;
margin-top: 9px;
margin-left: -15px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
nav ul li ul li{
background-color: #CC3300 !important;
display: list-item !important;
float: none;
border-top: solid 1px #73d3f7;
border-bottom: solid 1px #2b9ac3;
cursor:hand;
height: auto !important;
padding: 4px 10px 4px 10px !important;

}

nav ul li ul li a
{
    font-size: 11px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
nav ul li ul li ul{
top: 0;
}

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
position: absolute;
margin-top: 5px;
margin-left: 5px;
}

.rightarrowclass{
position: absolute;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #efefef;
}

.featured .content-wrapper {
    background-color: #CC3300;/*#7ac0da;*/
    background-image: -ms-linear-gradient(left, #CC3300 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #CC3300 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #CC3300), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #CC3300 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #CC3300 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
    width: 900px;
}

.featured hgroup.title h1, .featured hgroup.title h2 {
    color: #fff;
}

.featured p {
    font-size: 1.1em;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.one {
    background: url("../Images/orderedListOne.png") no-repeat;
}

ol.round li.two {
    background: url("../Images/orderedListTwo.png") no-repeat;
}

ol.round li.three {
    background: url("../Images/orderedListThree.png") no-repeat;
}

/* content */
article 
{
    float: left;
    width: 70%;
}

aside 
{
    float: right;
    width: 25%;
}

aside ul 
{
    list-style: none;
    padding: 0;
}

aside ul li 
{
    background: url("../Images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
}

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset 
{
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}
    
fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

fieldset label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

fieldset label.checkbox {
    display: inline;
}

fieldset input[type="text"],
fieldset input[type="password"] {
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 288px;
}
    
fieldset select {
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

fieldset input[type="text"]:focus,
fieldset input[type="password"]:focus {
    border: 1px solid #7ac0da;
}

fieldset input[type="submit"] {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
}

fieldset textarea {
    resize:none;
    border:1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 288px;
}

/* ajax login/registration dialog */
.modal-popup {
    font-size: 0.7em;
}

.modal-popup input[type="text"],
.modal-popup input[type="password"] {
    width: 90%;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="file"] { 
    pointer-events:none;
}

input[type=checkbox].enlarge-checkbox
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

#mainFormDocUpload { 
    display: none;
}

#itemFormDocUpload { 
    display: none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

ul#social li {
    display: inline;
    list-style: none;
}

ul#social li a {
    color: #999;
    text-decoration: none;
}

a.facebook, a.twitter {
    display: block;
    float: left;
    height: 24px;
    padding-left: 17px;
    text-indent: -9999px;
    width: 16px;
}

a.facebook {
    background: url("../Images/facebook.png") no-repeat;
}

a.twitter {
    background: url("../Images/twitter.png") no-repeat;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
----------------------------------------------------------*/
    header .float-left {
        float: left !important;
        clear: none !important;
    }

    header .float-right {
        float: right;
        clear: none;
    }

    /* logo */
    header .site-title {
        margin: 0px 0px;
        text-align: center;
        float: left;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px 0;
        text-align: center;
        float: left;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 0px 2px 0px 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* main layout
----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.one,
            ol.round li.two,
            ol.round li.three {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* box section */
    .clear {
        clear: both;
    }

    .box-section {
        border: solid 1px #000;
        margin-top: 20px;
    }

        .box-section h2 {
            margin: 0;
            background-color: #fff;
            font-size: 12px;
            margin-top: -10px;
            margin-left: 10px;
            padding: 2px 4px;
            float: left;
        }

    .box-section-inner {
        border: solid 1px #000;
        margin: 12px 8px 8px 8px;
    }

        .box-section-inner h3 {
            margin: 0;
            background-color: #fff;
            font-size: 11px;
            margin-top: -10px;
            margin-left: 10px;
            padding: 2px 4px;
            float: left;
        }

    .box-section .details {
        margin-top: 10px;
        padding: 10px 10px;
    }

    /* footer
----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }

    ul#social {
        padding: 0;
        margin: 0;
    }

    a.facebook, a.twitter {
        background: none;
        display: inline;
        float: none;
        height: auto;
        padding-left: 0;
        text-indent: 0;
        width: auto;
    }
 
}
    /* Custom */
    .inlineTooltip {
        padding: 2px;
        color: red;
        font-size: 11px;
        clear: both;
        display: none;
    }

    input[disabled], select[disabled], textarea[disabled] {
        background-color: #F0F0F0 !important;
        color: #303030 !important;
    }

    input.Negotiated[disabled] {
        text-decoration:underline;
        background-color: #000 !important;
        color: #F0F0F0 !important;

    }

    .displayDetails {
        height: 100px;
        width: 356px;
        resize: none;
        overflow:auto;
        margin: 10px 5px 0 5px;
    }

    #displaySectionName {
        margin: 10px 0 0 5px;
        font-weight: bold;
    }

    
    /* validationTips
----------------------------------------------------------*/
.validationTipsGeneral { 
    font-size: 14px;
    font-weight: bold;
    color:red;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000;
}

#planAmount, 
#sumInsured, 
#sumInsuredPolicy, 
#amount, 
#checkAmount,
#commercialValue, 
#projectAmount,
#equipmentAmount,
#contractAmount,
#bondAmount,
#amountItemInsured,
#premiumAmount,
#docStampsAmount,
#premiumTaxAmount,
#addedAmount,
#cashAmount,
#checkAmount,
#bankRelatedAmount,
#premiumRate,
#docStamps,
#premiumTax,
#premiumTaxAmount,
#commissionRate,
#currencyRate,
#localTax,
#fireServiceTax,
#otherCharges,
#declaredValue,
#maxLoadValue,
#formPolicyNumber,
.coverageTypeAmount,
.textRight
{
    text-align:right;
}

  .flexigrid .searchFlexi {
    width: 20px;
	height: 10px;
	background-image: url(/Content/icons/magnifier.png) !important;
	background-repeat: no-repeat !important;
	background-position: left;
	border:  solid 0px Transparent;
	background-color: Transparent;
    color: black;
    cursor: pointer;
}

img.contentHeader {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
}

div.totalItem {
    float: right;
    font-size: medium;
    padding-top: 6px;
    padding-right: 10px;
}

div.divHeader {
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 99%;
    height: 40px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    cursor: pointer;
}

p.paragraphHeader {
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    margin: 0px;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
}

div.divFormControlNumberStatus {
    float: right;
    padding-right: 20px;
    text-align: right;
    font-size: medium;
    font-weight: bold;
    color: green;
}

table.fileList {
    width: 99%;
    padding-left: 10px;
    border: 1px solid #a6c9e2;
    border-radius: 6px;
    text-align: center;
}

p.fileListHeader {
    padding: 9px 0 9px 13px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}

a.anchorList {
    padding: 3px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}

div.insuranceDetailsHeader {
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 99%;
    height: 40px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    cursor: pointer;
}